

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    color: #112A46;
    background-color: #DBD1C2;

}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
}

/*---headings and logo---*/

.text-center {
    text-align: center;
}

h1,
h2 {
    letter-spacing: 2px;
    font-size: 1.5rem;
}

#logo {
    margin: 10px;
    text-transform: uppercase;
    font-size: 280%;
}

/* ---nav bar --- inspired by love running --*/

#menu {
    letter-spacing: 4px;
    margin-bottom: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    padding: 5px;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a
}

/* ---hero image--- inspired by love running */

#hero-image {
    width: 100%;
    height: 800px;
    background: url(https://res.cloudinary.com/dwswn1jvq/image/upload/c_scale,w_747/v1660407818/Duncannon%20Yoga%20Club/STUDIO_VIEW_01_roaqdj.png) no-repeat center center;
}

/* ---about us--- */

#about-us {
    margin-top: 25px;

}

#about-us h2 {
    font-size: 2em;
}

#about-us p {
    padding: 10px;
}

/* ---types of yoga we teach--- */

#yoga-types {
    text-align: center;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.type-container {
    text-align: left;
    margin-top: 25px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

.type-container>div {
    width: 350px;
    height: 250px;
}

#yoga-types ul {
    text-decoration: none;
    list-style: none;
}

/*---youtube video--- credit six minutes smarter*/

.youtube {
    width: 100%;
    max-width: 800px;
    margin: 3em auto;
}

.youtube-container {
    width: 100%;
    max-width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
}

.youtube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

/* ---timetable --- credit to love running ---*/

#class-times {
    margin-top: 25px;
}

.left-margin {
    margin-left: 10%;
}

.times-container {
    background-color: #e4be9e;
    background-position: center;
    width: 80%;
    overflow: hidden;
    margin: auto;
    
}

.times-container div {
    width: 25%;
    float: left;
    padding: 5px;
    text-align: left;
    border: 1px solid #112A46;
    box-sizing: border-box;
}

/* ---tutorials--- credit to w3 schools ---*/
.container {
    position: relative;
    width: 100%;
}

.image {
    opacity: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #3a3a3a;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

/* ---footer ---credit to love running */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: #112A46;
}

#footer-text {
    text-align: center;
    padding-bottom: 15px;
}

#footer-text a {
    color: inherit;
    text-decoration: none;
}

/*---gallery ---*/

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#photos>img {
    width: 100%;
}

/* ---contact us ---*/

.form-section {
    clear: left;
    background: url(../assets/images/yoga-1665173_1920.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(150, 115, 89, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #8b867a;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #8b867a;
    color: #112A46;
    display: block;
}

.join-button:hover {
    background-color: #112A46;
    color: #fafafa;
}

/* media queries */

/* for larger to medium screens */
@media screen and (max-width: 800px) {
    .type-container {
        flex-direction: column;
        height: auto;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }

    .times-container div {
        font-size: 70%;
        
    }

}

@media screen and (max-width: 800px) {
    
    #photos {
        column-count: 2;
    }
    
}

/* for small screens */

@media screen and (max-width: 400px) {
    
    #photos {
        column-count: 1;
    }
    
    .times-container div {
        font-size: 90%;
        width: 100%;
        text-align: center;
    }

    .type-container>div {
        width: auto;
        height: auto;
    }
    
}